body{background-color: rgb(249, 181, 181)}

body *{
    display: inline-block;
    position: relative;
}

#temp{
    border: 10px solid;
}

.Card{
    width: 10rem;
    height: 15rem;
    background-color:blue;
    background-image: url(Cards.jpg);
    background-size: 1300%;
    background-position: 0rem 0rem;
}