body{background-color: rgb(152, 255, 183)}

body *{
    display: inline-block;
    position: relative;
}

#temp{
    display:none;
}

.Card{
    width: 10rem;
    height: 15rem;
    background-image: url(Cards.png);
    background-size: 900%;
    background-position: 0rem 0rem;
}